h1 {
    color: slateblue;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 8px #333;
    font-family: 'Dancing Script' , cursive ;
}

h2 {
    color: mediumorchid;
    font-family: 'Saira Stencil One';
    font-size: 32px;
    text-decoration: underline wavy #123456;
}

h3 {
    color: springgreen;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

h4 {
    text-transform: uppercase;
    color: dodgerblue;
    font-style: italic;
}

p {
    color: tomato;
    line-height: 140%;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

.p {
    color: magenta;
}

em {
    color: pink;
}

strong {
    color: purple;
}

span {
    color: violet;
}