h1 {
    color: red;
    font-size: 32px;
}
p {
    color: blue;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
ul {
    color: green;
}

.el1 {
    color: deeppink;
}

.el2 {
    color: palevioletred;
}

.el3 {
    color: darkmagenta;
}